<!DOCTYPE html>
<html>
  <head>
    <title>HomePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5f794aa19f.js" crossorigin="anonymous"></script>\
    <link rel="stylesheet" href="https://kit.fontawesome.com/5f794aa19f.css" crossorigin="anonymous">
    
    
    <style> 
      body {
        background-image: url("https://images.hdqwalls.com/download/spiderman-dark-illustration-4k-w8-1920x1080.jpg");
        background-color: #cccccc;
      }
      .my_SP
      {
        background-image: url("https://c4.wallpaperflare.com/wallpaper/509/716/1010/red-spiderman-spider-web-wallpaper-preview.jpg");
      }
      </style>
  </head>
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow my_SP">
  
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">SpiderFolio<i class="fa-sharp fa-solid fa-spider" style="margin-left: 5px
    ;"></i></a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="https://www.facebook.com/poomipoom/">Contact Us</a>
      </div>
    </div>
  </header>
  <body>
    <div class="container">
    <div class="text-center">
      <main class="form-signin w-100 m-auto">
      <h1 class="h3 mb-3 fw-normal" style="font-weight: 300;color: #9000fef1;"> Selelct For Click </h1>
      <a class="btn btn-danger btn-lg" href="{{ url_for('accounts.login') }}">Login</a>
      <a class="btn btn-danger btn-lg" href="{{ url_for('accounts.register') }}">Register</a>
      </main>
    </div>
    <h1 style="color: #ffffff;;">HI I'M Beginner Developer</h1>
    <img src="https://i.pinimg.com/736x/a7/75/7d/a7757d48ca84ebe259d8c85575437966.jpg" alt="EX" width="500">
    </div>
  </body>
</html>
